
 
 *{

box-sizing: border-box;
margin: 0;
padding: 0;
}



.logo{
width: 105px;
height: 75px;
cursor: pointer;
}

li, a, button{
font-weight: 700;
text-decoration: none;
font-family: 'Oswald', sans-serif;
font-size: 15px;
border: none;
color: rgb(0,0,0);

}

header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10% ;

}

.nav__links{
list-style: none;

}

.nav__links li{
display: inline-block;
padding: 0px 20px;
}

.nav__links li a {
transition: all 0.3s ease 0s;

}

.nav__links li a:hover {

    color:#d81d1d ;
}

.login{
    padding:9px 25px;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: 800ms;
}

.login{

  font-family: 'Oswald',sans-serif;
}


.nav__links2{
  list-style: none;
  }
  
  .nav__links2 li{
  display: inline-block;
  padding: 0px 20px;
  }
  
  .nav__links2 li a {
  transition: all 0.3s ease0s;
  
  }
  
  .nav__links2 li a:hover {
  transition: all 300ms;
      color:#d81d1d ;
  }
  

  .cerceve{
    border-radius: 12px;
    position:relative;

    width:800px;
overflow: hidden;

}

.galeri{
    position: relative;
width: 400%;

animation: 20s slayt infinite;
}

.galeri img{
width: 25%;
float:left;
}

.t1{
  float: left;
  position: relative;
  width: 150px;
 height: 150px;
 transition: 1000ms;
 border-radius: 15px;
 border:1px solid #d81d1d;
 margin: 10px;
 top:50%;
 }
 .t1:hover{
     border-radius: 18px;
     transform: scale(1.2);

 }

.e6{
 float: left;
 position: relative;
 margin: 10px;
 top:50%;
 width: 150px;
height: 150px;
transition: 1000ms;
border-radius: 15px;
border:1px solid #d81d1d(0, 204, 17);
}
.e6:hover{
    border-radius: 18px;
    transform: scale(1.2);

}

.buttonlar{width: 65%; height: 49%;}
.buttonlar2{width: 65%; height: 49%;}

@keyframes slayt{

    0%{left:0%;}
    20%{left:0%;}
    25%{left:-100%;}
    45%{left:-100%;}
    50%{left:-200%;}
    70%{left:-200%;}
    75%{left:-300%;}
    90%{left:-300%;}
}

::-webkit-scrollbar{
background-color: white;
border-radius:12px;
width: 23px;
border: 5px  solid white;
}
::-webkit-scrollbar-thumb{
background-color: #d81d1d;
border-radius: 13px;
border-right: 5px  solid white;
border-left: 5px  solid white;
border-top: 5px  solid white;
border-bottom: 5px  solid white;
}
::-webkit-scrollbar-thumb:hover{
    transition:600ms;
background-color: #d81d1db4;

}
